<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NM | Error Page</title>
    <link rel="stylesheet" href="./css/main2.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Favicon-->
    <link rel="icon" type="image/jpg" href="/img/favicon.ico" />

</head>

<body>
    <div class="text-center">
        <h1 class="display-2" id="error-text">Error!</h1>
        <p class="p-error">404 - PAGE NOT FOUND</p>
        <p class="sub-p-error">The page you're looking for might have been removed <br>
            had its name changed or is unavailable.
        </p>
        <a href="/">
            <button class="btn btn-primary mt-3 mr-4 ml-4">Go To Homepage</button>
        </a>
    </div>
</body>

</html>