<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | NM Website</title>
    <%- include('partials/head.html') %>
  </head>

  <body>
    <%- include('partials/navigation.html')%>

    <div class="name-middle text-center container">
      <img src="./img/navLogo.jpeg" alt="Logo Index" class="logoIndex" />
      <h3 class="display-3">Nicolás Marsili</h3>
    </div>

    <div class="text-center">
      <a
        href="https://www.linkedin.com/in/nicol%C3%A1s-marsili-58b7421a5/"
        target="_blank"
        class="buttonMiddle"
        ><i class="fab fa-linkedin fa-3x"></i
      ></a>
      <a
        href="https://twitter.com/nicoo_marsili"
        target="_blank"
        class="buttonMiddle"
        ><i class="fab fa-twitter-square fa-3x ml-3"></i
      ></a>
      <a
        href="https://github.com/NickooMar"
        target="_blank"
        class="buttonMiddle"
      >
        <i class="fab fa-github-square fa-3x ml-3"></i>
      </a>
    </div>

    <div class="card marginText" style="margin-top: 300px">
      <div class="row">
        <div class="card-title col-sm-3">
          <h3 class="display-4 centerTitleCard" style="color: black">
            About Me
          </h3>
        </div>
        <div class="col-sm-9 pl-4">
          <p class="display-3" style="font-size: 28px; padding-top: 45px">
            <em>
              Hello, My name is Nicolás. Pleasure to meet you. I'm from
              Argentina, i started my journey as a developer in 2020,
              specializing myself into front-end development, but recently i
              decide to try new things learning Back-end and Database. I'm
              Always trying to do my best and majoring me with new technologies.
              <br />
              My main objective is become a good full stack devoloper , i know
              it's a hard work but i'm really motivated and also i really enjoy
              what i do.
            </em>
          </p>
        </div>
      </div>
    </div>

    <br />

    <div class="text-center">
      <h1 class="display-4 pb-3" style="color: white; margin-right: 15px">
        Portfolio and works
      </h1>

      <div class="row justify-content-center">
        <div class="col-4">
          <h3 class="display-3 mt-4" style="font-size: 25px; color: white">
            FreeCodeCamp Portfolio
          </h3>
          <a
            href="https://www.freecodecamp.org/nicoomarsili"
            target="_blank"
            class="buttonMiddle mr-2"
            ><i class="fab fa-free-code-camp fa-4x mt-3"></i
          ></a>
        </div>
        <div class="col-4">
          <h3 class="display-3 mt-4" style="font-size: 25px; color: white">
            Github Repository
          </h3>
          <a
            href="https://github.com/NickooMar?tab=repositories"
            class="buttonMiddle"
            target="_blank"
          >
            <i class="fab fa-github fa-4x mt-3"></i>
          </a>
        </div>
      </div>
    </div>

    <br />
    <br />

    <div class="text-center card">
      <h1 class="display-4 pb-3 mt-4" style="margin-right: 15px">Knowledge</h1>

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">Javascript</h3>
            <i class="fab fa-js-square fa-5x mb-2"></i>
            <p>
              I consider that i have an intermediate knowledge about Javascript.
              I spend lot of time solving problems with logical algorithms,
              learning about the syntax and making the code simple as possible.
            </p>
          </div>
          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">HTML</h3>
            <i class="fab fa-html5 fa-5x mb-2"></i>
            <p>
              About HTML i have a high level of knowledge about this tags
              language, i started learning how to make an one page website and
              by the time i've meeting new technologies and languages that make
              it more structured.
            </p>
          </div>
          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">CSS</h3>
            <i class="fab fa-css3-alt fa-5x mb-2"></i>
            <p>
              Just like HTML i started with CSS at the same time, just adding
              simple styles to my one page website, now i could say that i have
              an intermediate-high knowledge about this.
            </p>
          </div>
        </div>
        <br />
        <div class="row justify-content-center">
          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">NodeJS</h3>
            <i class="fab fa-node-js fa-5x mb-2"></i>
            <p>
              I use NodeJS as Back-end in all of my projects. It's an essential
              tool to interact with modules that let you develop routes,
              authentication, the logic behind the page and a world of things
              what you could add to the application.
            </p>
          </div>

          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">Database</h3>
            <i class="fas fa-database fa-5x mb-2"></i>
            <p>
              I introduce myself into database technologies like MongoDB and
              mySQL not so long time ago, i understand the basic commands and
              how this work, creating tables and models. Showing, updating and deleting that data with petitions.
            </p>
          </div>

          <div class="col-sm">
            <h3 class="display-3 mt-4" style="font-size: 25px">Bootstrap</h3>
            <i class="fab fa-bootstrap fa-5x mb-2"></i>
            <p>
              I learned bootstrap framework after a lot of time with pure CSS
              and that let me see how easy could be to design an esthetic
              website, so i could say i got an intermediate-high level of
              knowledge with Bootstrap.
            </p>
          </div>

          <br />

          <div class="row justify-content-center">
            <div class="col-4">
              <h3 class="display-3 mt-4" style="font-size: 25px">ReactJS</h3>
              <i class="fab fa-react fa-6x mb-2"></i>
              <p>
                Since couple months, i decide to research and learn about
                ReactJS with typescript. I've learned a lot of things related
                with this library, and i understand how powerful could be this
                combined with NodeJS.
              </p>
            </div>
          </div>
        </div>
        <h3 class="display-3 mt-4 mr-4" style="font-size: 15px">Every project with this technologies are in my Github Repository</h3>
      </div>
    </div>

    <%- include('partials/footer.html')%>
  </body>
</html>
