body{
  background: url('/img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}
html{
  margin: auto;
}

.nav-align{
  text-decoration: none;
}

.nav-item{
  font-size: 22px;
}

.name-middle{
  color: white;
  margin-top: 150px;
  margin-bottom: 35px;
  font-style: italic;
}
a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}


.hover-nav{
  margin-top: 15px;
  text-decoration: none;
  color: grey;
}

.hover-nav:hover{
  color:white;
}

.logoIndex {
  width: 250px;
  height: 250px;
  border-radius: 100% ;
  border: 2px solid white;
}

.navLogo{
  width: 50px;
  height: 50px;
}

.buttonMiddle{
  color: white;

}

.buttonMiddle:hover{
  color: green;
}

.row{
  height: 100%;
  width: 100%;
}

.centerTitleCard{
  padding-bottom: 100px;
  padding-top: 100px;
  margin-left: 25px;
}

.objectivesText{
  font-size: 28px;
}

.CRUDsetting{
  margin-top: 25px;
  width: 500px;
  height: 500px;
}

#page-container {
  margin-top: 130px;
}

.text-xs-center {
  text-align: center;
}

.g-recaptcha {
  display: inline-block;
}